# Environment files
.env
google_drive_secret.json

# MacOS system files
.DS_Store

# Python files
.cache
__pycache__
.venv

# Google Drive API files
token.pickle

# Song files
songs/*
!songs/README.md